//重置样式
@import '../../public/css/reset.less';

//header
@import '../../components/header/header.less';

//content
#wrap {
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;

  .container {
    width: 100%;
    height: ~"calc(100vh - 160px)";
    background: #c0c0c0;
  }
}

//footer
@import '../../components/footer/footer.less';
